# # Runtime ENV
# PUBLIC_API_BASE_URL=
# PUBLIC_AUTH_API_URL=http://localhost:3001
# PUBLIC_T1_API_CLINIC_URL=
# PUBLIC_T1_API_HRM_URL=
# PUBLIC_T1_API_PRS_URL=
# PUBLIC_T2_API_URL=http://localhost:3003
# PUBLIC_T3_API_URL=http://192.168.11.202:3000
# PUBLIC_NOTIFICATION_API_URL="" # deploykan kalau dah butuh
# PUBLIC_VAPID_PUBLIC_KEY=

# # Compile Time ENV
# SW_DEV=true
# INJECT_MANIFEST=false
# FALLBACK_ENABLED=false



# team 1
PUBLIC_T1_API_HRM_URL=https://apisigma.iwkapps.com/hrmasd
PUBLIC_T1_API_PRS_URL=https://apisigma.iwkapps.com/prsasd

# team 3
PUBLIC_T3_API_URL=https://apisigma.iwkapps.com/mm
# PUBLIC_T3_API_URL=https://sid.socfindo.co.id/

# team 2
PUBLIC_AUTH_API_URL=https://apisigma.iwkapps.com/auth
PUBLIC_T2_API_URL=https://apisigma.iwkapps.com/admin
PUBLIC_SEND_CREDENTIALS=false

PUBLIC_VAPID_PUBLIC_KEY=test